In [ ]:
import pandas as pd

from datetime import datetime
from datetime import timedelta

import requests

In [ ]:
df_1415=pd.read_csv('https://raw.githubusercontent.com/Gierko/Hackathon-11th-to-13th-January/main/transactions_idf_14_15.csv')
df_1617=pd.read_csv('https://raw.githubusercontent.com/Gierko/Hackathon-11th-to-13th-January/main/idf_transactions_16_17.csv')
df_1819=pd.read_csv('https://raw.githubusercontent.com/Gierko/Hackathon-11th-to-13th-January/main/idf_transactions_18_19.csv')

In [ ]:
df_1415

,id_mutation,valeur_fonciere,surface_reelle_bati,prix_m2,nombre_pieces_principales,type_local,nom_commune,nom_iris,code_commune,code_departement,code_iris,id_parcelles,longitude,latitude,date_mutation
0,2014-996625,67000.0,30,2233,1,appartement,ÃÂÃÂpinay-sur-Seine,Iris 4,93031,93,930310104,93031000AI0138,2.320901,48.951260,2014-01-02
1,2014-833749,166000.0,55,3018,3,appartement,Triel-sur-Seine,Sud,78624,78,786240103,78624000AX0815,2.006452,48.976800,2014-01-02
2,2014-1059823,401398.0,43,9334,3,appartement,Paris 10e Arrondissement,Porte Saint-Denis 4,75110,75,751103804,75110000AU0062,2.352617,48.873116,2014-01-02
3,2014-1081415,140000.0,20,7000,1,appartement,Paris 18e Arrondissement,Grandes Carrieres 5,75118,75,751186905,75118000AM0019,2.326738,48.888350,2014-01-02
4,2014-815375,297000.0,79,3759,4,maison,Chelles,Nord-Ouest,77108,77,771080301,77108000AN0411,2.618308,48.887978,2014-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141919,2015-1176135,255000.0,38,6710,2,appartement,Paris 17e Arrondissement,Epinettes 13,75117,75,751176813,75117000DD0074,2.317631,48.894253,2015-12-31
141920,2015-1147381,4737500.0,451,10504,0,local industriel,Paris 3e Arrondissement,Les Archives 3,75103,75,751031103,75103000AP0021,2.360834,48.859097,2015-12-31
141921,2015-1176162,224000.0,28,8000,1,appartement,Paris 17e Arrondissement,Plaine Monceau 13,75117,75,751176613,75117000BG0019,2.296175,48.883660,2015-12-31
141922,2015-1176147,132000.0,21,6285,1,appartement,Paris 17e Arrondissement,Epinettes 10,75117,75,751176810,75117000DN0033,2.323157,48.893820,2015-12-31
141923,2015-1176140,481100.0,50,9622,3,appartement,Paris 17e Arrondissement,Batignolles 3,75117,75,751176703,75117000CO0108,2.324005,48.885887,2015-12-31

In [ ]:
df_1415.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141924 entries, 0 to 141923
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_mutation                141924 non-null  object
 1   valeur_fonciere            141924 non-null  float64
 2   surface_reelle_bati        141924 non-null  int64
 3   prix_m2                    141924 non-null  int64
 4   nombre_pieces_principales  141924 non-null  int64
 5   type_local                 141924 non-null  object
 6   nom_commune                141924 non-null  object
 7   nom_iris                   141924 non-null  object
 8   code_commune               141924 non-null  int64
 9   code_departement           141924 non-null  int64
 10  code_iris                  141924 non-null  int64
 11  id_parcelles               141924 non-null  object
 12  longitude                  141924 non-null  float64
 13  latitude                   141924 non-null  float64
 14  date_mutation              141924 non-null  object
dtypes: float64(3), int64(6), object(6)
memory usage: 16.2+ MB

In [ ]:
df_1617

,id_mutation,valeur_fonciere,surface_reelle_bati,prix_m2,nombre_pieces_principales,type_local,nom_commune,nom_iris,code_commune,code_departement,code_iris,id_parcelles,longitude,latitude,date_mutation
0,2016-1267882,100000.0,26,3846,2,appartement,Paris 19e Arrondissement,Villette 2,75119,75,751197302,75119000AX0031,2.380429,48.885280,2016-01-02
1,2016-1138298,60000.0,26,2307,1,appartement,Gennevilliers,Agnettes 3,92036,92,920360303,92036000AG0116,2.294343,48.924446,2016-01-02
2,2016-1110865,288000.0,129,2232,6,maison,Mennecy,La Verville Ouest,91386,91,913860105,91386000AB0073,2.422476,48.552345,2016-01-04
3,2016-1195707,945000.0,100,9450,4,maison,Nogent-sur-Marne,Place Leclerc,94052,94,940520110,940520000N0050,2.474534,48.839880,2016-01-04
4,2016-1195654,460000.0,43,10697,3,maison,Fontenay-sous-Bois,Plateau,94033,94,940330103,940330000R0144,2.461104,48.854694,2016-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167281,2017-1298569,185000.0,47,3936,2,appartement,Clichy,Chance-Milly,92024,92,920240503,92024000AF0022,2.306223,48.896004,2017-12-30
167282,2017-1406572,180000.0,30,6000,2,appartement,Paris 7e Arrondissement,Gros Caillou 1,75107,75,751072801,75107000BX0008,2.307470,48.855076,2017-12-30
167283,2017-1416263,470000.0,55,8545,3,appartement,Paris 12e Arrondissement,Picpus 12,75112,75,751124612,75112000CB0090,2.393189,48.839780,2017-12-30
167284,2017-1078441,240000.0,120,2000,5,maison,Laval-en-Brie,Laval-en-Brie,77245,77,772450000,772450000C0328,2.990646,48.426292,2017-12-30
167285,2017-1430402,135000.0,10,13500,1,appartement,Paris 16e Arrondissement,Chaillot 9,75116,75,751166409,75116000FC0008,2.290408,48.872524,2017-12-31

In [ ]:
df_1617.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167286 entries, 0 to 167285
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_mutation                167286 non-null  object
 1   valeur_fonciere            167286 non-null  float64
 2   surface_reelle_bati        167286 non-null  int64
 3   prix_m2                    167286 non-null  int64
 4   nombre_pieces_principales  167286 non-null  int64
 5   type_local                 167286 non-null  object
 6   nom_commune                167286 non-null  object
 7   nom_iris                   167286 non-null  object
 8   code_commune               167286 non-null  int64
 9   code_departement           167286 non-null  int64
 10  code_iris                  167286 non-null  int64
 11  id_parcelles               167286 non-null  object
 12  longitude                  167286 non-null  float64
 13  latitude                   167286 non-null  float64
 14  date_mutation              167286 non-null  object
dtypes: float64(3), int64(6), object(6)
memory usage: 19.1+ MB

In [ ]:
df_1819.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169605 entries, 0 to 169604
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_mutation                169605 non-null  object
 1   valeur_fonciere            169605 non-null  float64
 2   surface_reelle_bati        169605 non-null  int64
 3   prix_m2                    169605 non-null  int64
 4   nombre_pieces_principales  169605 non-null  int64
 5   type_local                 169605 non-null  object
 6   nom_commune                169605 non-null  object
 7   nom_iris                   169605 non-null  object
 8   code_commune               169605 non-null  int64
 9   code_departement           169605 non-null  int64
 10  code_iris                  169605 non-null  int64
 11  id_parcelles               169605 non-null  object
 12  longitude                  169605 non-null  float64
 13  latitude                   169605 non-null  float64
 14  date_mutation              169605 non-null  object
dtypes: float64(3), int64(6), object(6)
memory usage: 19.4+ MB

In [ ]:
df_14_19 = pd.concat([df_1415, df_1617, df_1819])

In [ ]:
df_14_19

,id_mutation,valeur_fonciere,surface_reelle_bati,prix_m2,nombre_pieces_principales,type_local,nom_commune,nom_iris,code_commune,code_departement,code_iris,id_parcelles,longitude,latitude,date_mutation
0,2014-996625,67000.0,30,2233,1,appartement,ÃÂÃÂpinay-sur-Seine,Iris 4,93031,93,930310104,93031000AI0138,2.320901,48.951260,2014-01-02
1,2014-833749,166000.0,55,3018,3,appartement,Triel-sur-Seine,Sud,78624,78,786240103,78624000AX0815,2.006452,48.976800,2014-01-02
2,2014-1059823,401398.0,43,9334,3,appartement,Paris 10e Arrondissement,Porte Saint-Denis 4,75110,75,751103804,75110000AU0062,2.352617,48.873116,2014-01-02
3,2014-1081415,140000.0,20,7000,1,appartement,Paris 18e Arrondissement,Grandes Carrieres 5,75118,75,751186905,75118000AM0019,2.326738,48.888350,2014-01-02
4,2014-815375,297000.0,79,3759,4,maison,Chelles,Nord-Ouest,77108,77,771080301,77108000AN0411,2.618308,48.887978,2014-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169600,2019-1102357,201000.0,28,7178,1,appartement,Paris 2e Arrondissement,Bonne Nouvelle 2,75102,75,751020802,75102000AM0151,2.347458,48.865850,2019-12-31
169601,2019-818571,178500.0,82,2176,5,maison,Meulan-en-Yvelines,Coteau Vexin,78401,78,784010101,78401000AP0121,1.917288,49.011160,2019-12-31
169602,2019-1082682,283650.0,28,10130,1,appartement,Paris 15e Arrondissement,Saint-Lambert 9,75115,75,751155709,75115000BH0015,2.290955,48.835120,2019-12-31
169603,2019-985152,477000.0,65,7338,3,appartement,Montrouge,Centre Administratif-Mairie,92049,92,920490101,920490000B0042,2.316570,48.819270,2019-12-31
169604,2019-1100737,473000.0,50,9460,2,appartement,Paris 20e Arrondissement,Charonne 14,75120,75,751208014,75120000DS0092,2.400628,48.852055,2019-12-31

In [ ]:
df_14_19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 478815 entries, 0 to 169604
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_mutation                478815 non-null  object
 1   valeur_fonciere            478815 non-null  float64
 2   surface_reelle_bati        478815 non-null  int64
 3   prix_m2                    478815 non-null  int64
 4   nombre_pieces_principales  478815 non-null  int64
 5   type_local                 478815 non-null  object
 6   nom_commune                478815 non-null  object
 7   nom_iris                   478815 non-null  object
 8   code_commune               478815 non-null  int64
 9   code_departement           478815 non-null  int64
 10  code_iris                  478815 non-null  int64
 11  id_parcelles               478815 non-null  object
 12  longitude                  478815 non-null  float64
 13  latitude                   478815 non-null  float64
 14  date_mutation              478815 non-null  object
dtypes: float64(3), int64(6), object(6)
memory usage: 58.4+ MB

In [ ]:
df_14_19.shape

(478815, 15)

In [ ]:
df_14_19.isna().sum()

id_mutation                  0
valeur_fonciere              0
surface_reelle_bati          0
prix_m2                      0
nombre_pieces_principales    0
type_local                   0
nom_commune                  0
nom_iris                     0
code_commune                 0
code_departement             0
code_iris                    0
id_parcelles                 0
longitude                    0
latitude                     0
date_mutation                0
dtype: int64

In [ ]:
df_14_19['annee']=df_14_19['id_mutation'].apply(lambda x: x.split("-")[0]) #une nouvelle colonne "année"

In [ ]:
df_14_19['nom_commune']=df_14_19['nom_commune'].apply(lambda x: x.strip('ÂÃÂ')) # enlève les caractères étranges

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_20 = pd.read_csv('/content/drive/MyDrive/wild data analyst/Hackathon/full_20.csv')
df_20

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10,12,14,16,17,18,20,22,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2020-1,2020-01-07,1,Vente,8000.0,NaN,NaN,FORTUNAT,B063,1250.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1061.0,5.323522,46.171899
1,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,85.0,4.893447,46.251861
2,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,BOIS DU CHAMP RION,B006,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1115.0,4.900028,46.235305
3,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,EN COROBERT,B025,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1940.0,4.882230,46.246538
4,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1148.0,4.894481,46.251841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3509080,2020-1462189,2020-12-16,1,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Appartement,29.0,2.0,S,sols,NaN,NaN,447.0,2.350486,48.854301
3509081,2020-1462189,2020-12-16,1,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Appartement,40.0,2.0,S,sols,NaN,NaN,447.0,2.350486,48.854301
3509082,2020-1462189,2020-12-16,1,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Appartement,24.0,1.0,S,sols,NaN,NaN,447.0,2.350486,48.854301
3509083,2020-1462189,2020-12-16,1,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Appartement,40.0,2.0,S,sols,NaN,NaN,447.0,2.350486,48.854301
3509084,2020-1462190,2020-10-08,1,Adjudication,255000.0,39.0,NaN,RUE SAINT-SAUVEUR,8752,75002.0,...,Appartement,21.0,1.0,NaN,NaN,NaN,NaN,NaN,2.348150,48.865926

In [ ]:
df_21 = pd.read_csv('/content/drive/MyDrive/wild data analyst/Hackathon/full_21.csv')
df_21

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10,12,14,17,18,20,22,24,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2021-1,2021-01-05,1,Vente,185000.0,5080.0,NaN,CHE DE VOGELAS,0471,1370.0,...,Maison,97.0,5.0,S,sols,NaN,NaN,2410.0,5.386094,46.327140
1,2021-1,2021-01-05,1,Vente,185000.0,5080.0,NaN,CHE DE VOGELAS,0471,1370.0,...,Dépendance,NaN,0.0,S,sols,NaN,NaN,2410.0,5.386094,46.327140
2,2021-2,2021-01-06,1,Vente,10.0,NaN,NaN,ROUGEMONT,B043,1290.0,...,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,530.0,4.844368,46.224233
3,2021-3,2021-01-04,1,Vente,204332.0,7.0,NaN,ALL DES ECUREUILS,0276,1310.0,...,Maison,88.0,4.0,S,sols,NaN,NaN,866.0,5.157688,46.200988
4,2021-4,2021-01-06,1,Vente,320000.0,87.0,NaN,RTE DE CERTINES,0140,1250.0,...,Dépendance,NaN,0.0,S,sols,NaN,NaN,1426.0,5.273260,46.156334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375218,2021-1624386,2021-03-12,1,Vente,383000.0,8.0,NaN,RUE DES TOURNELLES,9382,75004.0,...,Appartement,30.0,2.0,NaN,NaN,NaN,NaN,NaN,2.367712,48.854200
4375219,2021-1624387,2021-03-17,1,Vente,260000.0,8.0,NaN,RUE SAINTE FOY,8561,75002.0,...,Appartement,37.0,2.0,NaN,NaN,NaN,NaN,NaN,2.350774,48.868450
4375220,2021-1624388,2021-03-19,1,Vente,38000.0,6.0,NaN,RUE DES GUILLEMITES,4398,75004.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.357623,48.858041
4375221,2021-1624389,2021-03-30,1,Vente,38000.0,30.0,NaN,RUE DU PETIT MUSC,7338,75004.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.365430,48.852861
4375222,2021-1624390,2021-03-19,1,Vente,690000.0,3.0,NaN,RUE SAINT-JOSEPH,8659,75002.0,...,Local industriel. commercial ou assimilé,56.0,0.0,NaN,NaN,NaN,NaN,NaN,2.345110,48.868196

In [ ]:
df_22 = pd.read_csv('/content/drive/MyDrive/wild data analyst/Hackathon/full_22.csv')
df_22

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10,12,14,16,17,18,20,22,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2022-1,2022-01-03,1,Vente,55000.0,13.0,NaN,RUE DE LA LIBERTE,2280,1000.0,...,Appartement,24.0,1.0,NaN,NaN,NaN,NaN,NaN,5.218706,46.198054
1,2022-2,2022-01-03,1,Vente,143000.0,NaN,NaN,CHAMP COCHET,B010,1480.0,...,NaN,NaN,NaN,S,sols,NaN,NaN,84.0,4.847867,46.000617
2,2022-2,2022-01-03,1,Vente,143000.0,NaN,NaN,CHAMP COCHET,B010,1480.0,...,NaN,NaN,NaN,S,sols,NaN,NaN,88.0,4.847920,46.000576
3,2022-2,2022-01-03,1,Vente,143000.0,98.0,NaN,RTE DE LA DOMBES,0055,1480.0,...,Appartement,140.0,3.0,NaN,NaN,NaN,NaN,NaN,4.848345,46.000585
4,2022-3,2022-01-04,1,Vente,300.0,NaN,NaN,AUX PIERRES,B031,1480.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,510.0,4.747627,46.045434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429088,2022-537271,2022-06-21,1,Vente,423000.0,43.0,NaN,RUE DES FAVORITES,3536,75015.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.305379,48.837454
1429089,2022-537271,2022-06-21,1,Vente,423000.0,43.0,NaN,RUE DES FAVORITES,3536,75015.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.305379,48.837454
1429090,2022-537272,2022-06-30,1,Vente,104650.0,50.0,NaN,RUE LEON FROT,5554,75011.0,...,Appartement,15.0,1.0,NaN,NaN,NaN,NaN,NaN,2.386354,48.856079
1429091,2022-537273,2022-02-10,1,Adjudication,51000.0,12.0,NaN,SQ HENRY PATE,4608,75016.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.271505,48.849026
1429092,2022-537274,2022-04-29,1,Vente,200000.0,3.0,NaN,VLA D ORLEANS,6938,75014.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.328781,48.828676

In [ ]:
df_20_22 = pd.concat([df_20, df_21, df_22])

In [ ]:
df_20_22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9313401 entries, 0 to 1429092
Data columns (total 40 columns):
 #   Column                        Dtype
---  ------                        -----
 0   id_mutation                   object
 1   date_mutation                 object
 2   numero_disposition            int64
 3   nature_mutation               object
 4   valeur_fonciere               float64
 5   adresse_numero                float64
 6   adresse_suffixe               object
 7   adresse_nom_voie              object
 8   adresse_code_voie             object
 9   code_postal                   float64
 10  code_commune                  object
 11  nom_commune                   object
 12  code_departement              object
 13  ancien_code_commune           float64
 14  ancien_nom_commune            object
 15  id_parcelle                   object
 16  ancien_id_parcelle            object
 17  numero_volume                 object
 18  lot1_numero                   object
 19  lot1_surface_carrez           float64
 20  lot2_numero                   object
 21  lot2_surface_carrez           float64
 22  lot3_numero                   object
 23  lot3_surface_carrez           float64
 24  lot4_numero                   object
 25  lot4_surface_carrez           float64
 26  lot5_numero                   float64
 27  lot5_surface_carrez           float64
 28  nombre_lots                   int64
 29  code_type_local               float64
 30  type_local                    object
 31  surface_reelle_bati           float64
 32  nombre_pieces_principales     float64
 33  code_nature_culture           object
 34  nature_culture                object
 35  code_nature_culture_speciale  object
 36  nature_culture_speciale       object
 37  surface_terrain               float64
 38  longitude                     float64
 39  latitude                      float64
dtypes: float64(16), int64(2), object(22)
memory usage: 2.8+ GB

In [ ]:
df_20_22['code_departement'].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       21, 22, 23, 24, 25, 26, 27, 28, 29, '29', '2A', '2B', '30', 30, 31,
       32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 49, 45, 46, 47,
       48, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66,
       69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86,
       87, 88, 89, 90, 91, 92, 93, 94, 95, 971, 972, 973, 974, 75],
      dtype=object)

In [ ]:
df_20_22=df_20[df_20['code_departement'].isin([75,77,78,91, 92, 93, 94, 95])]

In [ ]:
df_20_22['code_postal'].fillna(0, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
df_20_22['adresse_numero'].fillna(0, inplace=True)

In [ ]:
df_20_22['code_postal']=df_20_22['code_postal'].astype(int)

<ipython-input-17-379aa9ec185c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20_22['code_postal']=df_20_22['code_postal'].astype(int)

In [ ]:
df_20_22['adresse_numero']=df_20_22['adresse_numero'].astype(int)

<ipython-input-18-de7d37dab488>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20_22['adresse_numero']=df_20_22['adresse_numero'].astype(int)

In [ ]:
df_20_22

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
2668898,2020-1085248,2020-01-02,1,Vente,247000.0,3,NaN,PL DES MAGNOLIAS,0631,77680,...,Appartement,104.0,5.0,NaN,NaN,NaN,NaN,NaN,2.664389,48.792567
2668899,2020-1085248,2020-01-02,1,Vente,247000.0,9001,NaN,PL DES MAGNOLIAS,0631,77680,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.664389,48.792567
2668900,2020-1085248,2020-01-02,1,Vente,247000.0,9001,NaN,PL DES MAGNOLIAS,0631,77680,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.664389,48.792567
2668901,2020-1085249,2020-01-07,1,Vente,205000.0,13,NaN,AV LUCIEN BRUNET,0770,77340,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.597431,48.777646
2668902,2020-1085249,2020-01-07,1,Vente,205000.0,13,NaN,AV LUCIEN BRUNET,0770,77340,...,Appartement,54.0,2.0,NaN,NaN,NaN,NaN,NaN,2.597431,48.777646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3509080,2020-1462189,2020-12-16,1,Vente,1937500.0,24,NaN,RUE CHANOINESSE,1748,75004,...,Appartement,29.0,2.0,S,sols,NaN,NaN,447.0,2.350486,48.854301
3509081,2020-1462189,2020-12-16,1,Vente,1937500.0,24,NaN,RUE CHANOINESSE,1748,75004,...,Appartement,40.0,2.0,S,sols,NaN,NaN,447.0,2.350486,48.854301
3509082,2020-1462189,2020-12-16,1,Vente,1937500.0,24,NaN,RUE CHANOINESSE,1748,75004,...,Appartement,24.0,1.0,S,sols,NaN,NaN,447.0,2.350486,48.854301
3509083,2020-1462189,2020-12-16,1,Vente,1937500.0,24,NaN,RUE CHANOINESSE,1748,75004,...,Appartement,40.0,2.0,S,sols,NaN,NaN,447.0,2.350486,48.854301
3509084,2020-1462190,2020-10-08,1,Adjudication,255000.0,39,NaN,RUE SAINT-SAUVEUR,8752,75002,...,Appartement,21.0,1.0,NaN,NaN,NaN,NaN,NaN,2.348150,48.865926

In [ ]:
df_20_22[['adresse_numero','adresse_nom_voie','code_postal']]=df_20_22[['adresse_numero','adresse_nom_voie','code_postal']].astype(str)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
df_20_22['adresse_final']=df_20_22['adresse_numero']+' '+df_20_22['adresse_nom_voie']+' '+df_20_22['code_postal']+' '+df_20_22['nom_commune']

<ipython-input-21-31337ed645de>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20_22['adresse_final']=df_20_22['adresse_numero']+' '+df_20_22['adresse_nom_voie']+' '+df_20_22['code_postal']+' '+df_20_22['nom_commune']

In [ ]:
df_20_22_nan=df_20_22[df_20_22[['longitude','latitude']].isnull().values==True]

In [ ]:
df_20_22_nan['adresse_final'].replace('0','')

2668956                          0 RUE LAVOISIER 77000 Melun
2668956                          0 RUE LAVOISIER 77000 Melun
2668957                          0 RUE LAVOISIER 77000 Melun
2668957                          0 RUE LAVOISIER 77000 Melun
2669005        721 RES DE L AQUITAINE 77190 Dammarie-les-Lys
                                 ...
3505936    38 RUE DU SURMELIN 75020 Paris 20e Arrondissement
3508782    13 RUE SAINT-JOSEPH 75002 Paris 2e Arrondissement
3508782    13 RUE SAINT-JOSEPH 75002 Paris 2e Arrondissement
3508852    15 RUE SAINT-JOSEPH 75002 Paris 2e Arrondissement
3508852    15 RUE SAINT-JOSEPH 75002 Paris 2e Arrondissement
Name: adresse_final, Length: 11334, dtype: object

In [ ]:
def longitude(address):
  link_main = 'https://api-adresse.data.gouv.fr/search/?q='
  link_end = '&format=json&limit=1'
  link= link_main + address.replace(" ", "+")
  r = requests.get(link+link_end).json()
  longi=r['features'][0]['geometry']['coordinates'][-1]
  
  return longi

In [ ]:
def latitude(address):
  link_main = 'https://api-adresse.data.gouv.fr/search/?q='
  link_end = '&format=json&limit=1'
  link= link_main + address.replace(" ", "+")
  r = requests.get(link+link_end).json()
  lat=r['features'][0]['geometry']['coordinates'][0]
  
  return lat

In [ ]:
latitude('0 RUE LAVOISIER 77000 Melun')

2.669029

In [ ]:
def coordonnées(adresse):
  link_main = "https://api-adresse.data.gouv.fr/search/?q="
  link = link_main + adresse.replace(" ", "+")
  r = requests.get(link).json()
  return r['features'][0]['geometry']['coordinates'][::-1]

In [ ]:
coordonnées("nan PRE DES MASSONS 77910 Barcy")

[49.01953, 2.879183]

In [ ]:
df_20_22_nan['adresse_final'].isna().sum()

0

In [ ]:
from pandas.core.groupby.groupby import final
liste_coord=[]
count=0
for i in df_20_22_nan['adresse_final']:
  try:
    liste_coord.append(coordonnées(i))
    count+=1
    print(count)
  except KeyboardInterrupt as E:
    pass
  except IndexError:
    pass
liste_coord

NameError: ignored

In [ ]:
df_20_22_nan['lati']=df_20_22_nan['adresse_final'].apply(latitude)

KeyError: ignored

In [ ]:
count=0
for i in df_20_22_nan['adresse_final']:
   coord = coordonnées(i)
   count+=1
   print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728

KeyboardInterrupt: ignored

In [ ]:
df_20_22_nan.iloc[1308]

id_mutation                                        2020-1104112
date_mutation                                        2020-02-19
numero_disposition                                            1
nature_mutation                                           Vente
valeur_fonciere                                         96240.0
adresse_numero                                              nan
adresse_suffixe                                             NaN
adresse_nom_voie                                PRE DES MASSONS
adresse_code_voie                                          B025
code_postal                                               77910
code_commune                                              77023
nom_commune                                               Barcy
code_departement                                             77
ancien_code_commune                                         NaN
ancien_nom_commune                                          NaN
id_parcelle                                      770230000B0673
ancien_id_parcelle                                          NaN
numero_volume                                               NaN
lot1_numero                                                 NaN
lot1_surface_carrez                                         NaN
lot2_numero                                                 NaN
lot2_surface_carrez                                         NaN
lot3_numero                                                 NaN
lot3_surface_carrez                                         NaN
lot4_numero                                                 NaN
lot4_surface_carrez                                         NaN
lot5_numero                                                 NaN
lot5_surface_carrez                                         NaN
nombre_lots                                                   0
code_type_local                                             NaN
type_local                                                  NaN
surface_reelle_bati                                         NaN
nombre_pieces_principales                                   NaN
code_nature_culture                                          AG
nature_culture                              terrains d'agrément
code_nature_culture_speciale                               PARC
nature_culture_speciale                                    Parc
surface_terrain                                            50.0
longitude                                                   NaN
latitude                                                    NaN
adresse_final                   nan PRE DES MASSONS 77910 Barcy
Name: 2713299, dtype: object